
ul {
  list-style-type: none;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  background-color: black;
  opacity: .85;
  height: 6rem;
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
  height: 10%;
}
  
.alex-logo {
  height: 75%;
  margin-top: 7px;
}

.resume {
  flex-direction: row;
  display: flex;
  font-size: 20px;  
  color: white;
  text-decoration: none;
  padding-top: 27px;
  font-family: 'Cairo', sans-serif;


}

.resume:hover {
color: yellow;

}

.links {
  flex-direction: row;
  display: flex;
  font-size: 20px;  
  align-items: center;
  color: white;
  padding-left: 75px;
  text-decoration: none;
  margin-top: 30px;
  font-family: 'Cairo', sans-serif;
}

.links:hover {
color: yellow;
}



@media all and (max-width: 480px) {
  .nav {
    flex-direction: row;
    width: 100%;
  }
  .nav-block {
    flex-direction: column;
    width: 20%;
  }
  .alex-logo{
    height: 75%;
    margin-top: 10px;
  }
   
  .links {
    display: none;
    width: 50%;
     margin-top: 0;
    /* padding-top: 0px;
    font-size: 5px;  */
  }
  .resume {
    padding-right: 20px;
  }
}



