
ul {
  list-style-type: none;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  /* background-color: rgb(78, 129, 230); */
  background-color: black;
  opacity: .85;
  height: 6rem;
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
  height: 10%;
}
  
.alex-logo {
  height: 85%;
  margin-top: 7px;
}



.links {
  flex-direction: row;
  display: flex;
  font-size: 20px;  
  align-items: center;
  color: white;
  padding-left: 75px;
  text-decoration: none;
  margin-top: 40px;
}

.links:hover {
color: yellow;
}






