.details-container {
  display: flex;
  /* height: 100%;
  width: 100%; */
  justify-content: space-around;
}

.alex-image {
  height: 100vh;
  width: 40vw;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.about-title {
  font-family: "Montserrat Alternates", sans-serif;
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: "Cairo", sans-serif;
}
.about-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  color: rgb(87, 87, 87);
  /* font-family: "Montserrat Alternates", sans-serif; */
  font-size: 20px;
  align-items: center;
  width: 50%;
  margin-top: 200px;
  height: 100%;
  padding-top: 0px;
  font-family: "Cairo", sans-serif;
}

.resume-about {
  font-family: "Cairo", sans-serif;
  font-size: 25px;
  color: rgb(165, 2, 2);
  padding-top: 90px;
}

.resume-about:hover {
  color: yellow;
}

.logo {
  display: inline-block;

  height: 40px;
  padding-left: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.logo:hover {
  transform: scale(1.3);
}

@media screen and (max-width: 480px) {
  .details-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .alex-image {
    height: 100vh;
    width: 80vw;
    position: cover;
    margin-left: 100px;
    margin-top: 48px;
  }
  .about-title {
    font-family: "Montserrat Alternates", sans-serif;
    color: black;
    font-size: 100px;
    text-align: center;
    font-family: "Cairo", sans-serif;
  }
  .about-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(87, 87, 87);
    /* font-family: "Montserrat Alternates", sans-serif; */
    font-size: 20px;
    align-items: center;
    width: 50%;
    margin-top: 200px;
    height: 100%;
    padding-top: 0px;
    font-family: "Cairo", sans-serif;
  }
  .resume-about {
    font-family: "Cairo", sans-serif;
    font-size: 25px;
    color: rgb(165, 2, 2);
    padding-top: 90px;
    text-align: center;
  }
  .logo {
    display: inline-block;
  
    height: 40px;
    padding-left: 10px;
    /* margin-top: 10px; */
    margin-left: 5px;
  }
}
