.details-container {
  display: flex;
  /* height: 100%;
  width: 100%; */
  justify-content: space-around;

}



.alex-image {
  height: 100vh;
  width:40vw;
}
  

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  

}

.about-title {
  font-family: 'Montserrat Alternates', sans-serif;
  color: black;
  font-size: 50px;
  text-align: center;
}
.about-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  color: rgb(87, 87, 87);
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
  align-items: center;
  width: 50%;
  margin-top: 200px;
  height: 100%;
  padding-top: 0px;
}

@media screen and (max-width: 480px) {
  .details-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
}