.portfolio-title {
  display: flex;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color: black;
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 0px;
  flex-direction: column;
  font-family: 'Cairo', sans-serif;
}
.t-shirt {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.design-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
}
.design-name {
  margin-top: 60px;;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.design-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  margin-left: 350px;
  margin-right: 350px;
  padding-top: 25px;
  font-family: 'Cairo', sans-serif;
}



img {
  height:40px;
  padding-left: 20px;
  /* align-items: center; */
  margin-top: 0px;
  margin-bottom: 3px;

}
.image2 {
  height:500px;
  margin-top: 25px;
}

