.portfolio-title {
  display: flex;
  font-family: "Montserrat Alternates", sans-serif;
  color: black;
  font-size: 50px;
  text-align: center;
  flex-direction: column;
  font-family: "Cairo", sans-serif;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-top: -50px;
}
.project-name {
  font-family: "Cairo", sans-serif;
  padding-top: 45px;
  margin-bottom: 5px;
}
.portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.project-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 0px;
  margin-top: 30px;
  font-family: "Cairo", sans-serif;
}
.info-project {
  width: 788px;

}
.link-github-code {
  display: inline-block;
  font-size: 15px;
  font-family: "Cairo", sans-serif;
  text-align: center;
  padding-top: 20px;
}
.github-logo {
  height: 25px;
  margin-left: 10px;
}

.github-logo:hover {
  transform: scale(1.3);
}

.image-app {
  margin-top: 20px;
  height: 450px;
}

@media screen and (max-width: 480px) {
  .portfolio-title{
    margin-top: 150px;
  }
}
