


.portfolio-title {
  display: flex;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color: black;
  font-size: 50px;
  text-align: center;

  padding-top: 100px;
  margin-bottom: 0px;
  flex-direction: column;


}


.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center ;
  height: 100%;

}



.portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;


}

img {
  height:20px;
  padding-left: 25px;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 3px;
}


  


.image-app {
  height:300px;
  margin-top: 30px;
  
}