.home {
  background-image: url(https://res.cloudinary.com/dhkeoqhmp/image/upload/v1634592998/PROJECT-4.%20KAIMANA%20SURFBOARDS%20APP/work1_x5qqlq.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  

}

.name1 {

  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  color:  rgb(255, 255, 255);
  font-size: 80px; 
  border-radius: 5px;
  flex-direction: column;
  padding-left: 100px;
  padding-top:100px;
  padding-bottom:100px;
  justify-content: center;
  margin: 100px 0;
  width: 60%;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  background-color: rgba(171, 171, 171, 0.558);
  position: absolute;

}

.title {
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  color:  rgb(255, 255, 255);
  font-size: 30px; 
  flex-direction: column;
  padding-left: 120px;
  /* padding-top:100px; */
  padding-bottom:100px;
  justify-content: center;
  margin: 150px 0;
  width: 60%;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(171, 171, 171, 0.558); */
  position: absolute;

}

.name:hover {
  color: yellow;
}

.title:hover {
  
  color: yellow;
}

@media screen and (max-width: 480px) {
  .home {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

}