

/* .name1 {

  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  color:  rgb(255, 255, 255);
  font-size: 80px; 
  border-radius: 5px;
  flex-direction: column;
  padding-left: 100px;
  padding-top:100px;
  padding-bottom:100px;
  justify-content: center;
  margin: 100px 0;
  width: 60%;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  background-color: rgba(171, 171, 171, 0.558);
  position: absolute;

} */

/* .title {
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  color:  rgb(255, 255, 255);
  font-size: 45px; 
  flex-direction: column;
  padding-left: 120px;
  padding-bottom:100px;
  justify-content: center;
  margin: 150px 0;
  width: 60%;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  position: absolute;

} */

/* .name1:hover {
  color: yellow;
}

.title:hover {
  
  color: yellow;
} */
.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
}


@media screen and (max-width: 480px) {
  
  .home {

    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .portfolio-title{
    text-align: center;
    margin-left: 100px;
    margin-top: 20px;
  }
  .project-name{
    margin-left: 80px;
  }
  p {
    width: 80vw;
    text-align: center;
    padding-left: 70px;
    /* margin-left: 100px; */
  }

    .image-app{
      margin-top: 20px;
      height: 250px;
      margin-left: 100px;
    }

   

    .github-logo{
      margin-right: 42px;
    }
    /* .info {
      padding-left: 50px;
    } */
   
  h3 {
    margin-left: 100px;;
  }

    .image2{
      height: 190px;
      /* margin-left: 110px; */
    }


    
    
  


}